---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import "../styles/blog-post.css";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const latestPost = posts[0];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      image={latestPost.data.thumbnail}
    />
    <style>
      .latest-post {
        margin-bottom: 1.25rem;
      }
      .latest-post h2 {
        margin-bottom: 1.25rem;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h1>Hi! I'm Max. 👋</h1>
      <p>
        I'm a student developer and researcher studying at <a
          href="https://www.cmu.edu/"
          target="_blank">Carnegie Mellon University</a
        > in Pittsburgh, Pennsylvania. I'm interested in machine learning, computer
        science, statistics, and psychology. My research centers on machine learning
        in cybersecurity, with a secondary focus on pedagogy.
      </p>
      {
        latestPost && (
          <section class="latest-post">
            <h2>Latest Post</h2>
            <div class="blog-post">
              <a href={`/blog/${latestPost.id}/`}>
                {latestPost.data.thumbnail && (
                  <Image
                    src={latestPost.data.thumbnail}
                    alt=""
                    class="thumbnail"
                  />
                )}
                <div class="content">
                  <div class="header-row">
                    <h4 class="title">{latestPost.data.title}</h4>
                    <p class="date">
                      <FormattedDate date={latestPost.data.pubDate} />
                    </p>
                  </div>
                  <p class="description">{latestPost.data.description}</p>
                </div>
              </a>
            </div>
          </section>
        )
      }
      <h2>Contact</h2>
      <p>
        For professional inquiries, feel free to connect with me on <a
          href="https://www.linkedin.com/in/max-wen/"
          target="_blank">LinkedIn</a
        >. My resume and email address are available by request.
      </p>
      <p>
        My accounts on other platforms are under the username <strong
          >tentype</strong
        > or <strong>tentypedev</strong>. Please note that I typically do not
        accept requests from people I don't know personally on these accounts.
      </p>
    </main>
    <Footer />
  </body>
</html>
