---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import "../styles/blog-post.css";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const latestPost = posts[0];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .latest-post h2 {
        margin-bottom: 1rem;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h1>Hi! I'm Max.</h1>
      <p>
        I'm a student developer and researcher from the Bay Area. I study
        statistical machine learning and computer science at <a
          href="https://www.cmu.edu/">Carnegie Mellon University</a
        >. My work centers on machine learning in cybersecurity, with a
        secondary focus on pedagogy.
      </p>
      {
        latestPost && (
          <section class="latest-post">
            <h2>Latest Post</h2>
            <div class="blog-post">
              <a href={`/blog/${latestPost.id}/`}>
                {latestPost.data.thumbnail && (
                  <Image
                    src={latestPost.data.thumbnail}
                    alt=""
                    class="thumbnail"
                    loading="lazy"
                    decoding="async"
                  />
                )}
                <div class="content">
                  <div class="header-row">
                    <h4 class="title">{latestPost.data.title}</h4>
                    <p class="date">
                      <FormattedDate date={latestPost.data.pubDate} />
                    </p>
                  </div>
                  <p class="description">{latestPost.data.description}</p>
                </div>
              </a>
            </div>
          </section>
        )
      }
    </main>
    <Footer />
  </body>
</html>
